Kraken/Kraken/obj/
Kraken/Kraken/bin/
Kraken/Kraken.UnitTests/obj/
Kraken/Kraken.UnitTests/bin/
Kraken/Kraken.Editor/obj/
Kraken/Kraken.Editor/bin/
Kraken/.vs/Kraken/v15/.suo
Kraken/packages/
Output/
Kraken/Kraken.Testing/obj/
Kraken/Kraken.Testing/bin/
Unity-Project/Library/
Unity-Project/ProjectSettings/
Kraken/NDependOut/
UnityProjects/KrakenIoc/ProjectSettings/
UnityProjects/KrakenIoc/Library/
UnityProjects/KrakenIoc.Editor/ProjectSettings/
UnityProjects/KrakenIoc.Editor/Library/
UnityProjects/KrakenIoc.UnitTests/Library/
UnityProjects/KrakenIoc.UnitTests/ProjectSettings/
UnityProjects/KrakenIoc.UnitTests/Temp/
Kraken/.vs/
user.properties
user.properties.json
.build/
Kraken/KrakenIoc.Unity/bin/
Kraken/KrakenIoc.Unity/obj/
._*
KrakenIoc/KrakenIoc.Testing/bin/
KrakenIoc/KrakenIoc.Testing/obj/
KrakenIoc/KrakenIoc.UnitTests/bin/
KrakenIoc/KrakenIoc.UnitTests/obj/
KrakenIoc/KrakenIoc.Unity/bin/
KrakenIoc/KrakenIoc.Unity/obj/
KrakenIoc/KrakenIoc/obj/
KrakenIoc/packages/
KrakenIoc/KrakenIoc/bin/
KrakenIoc/KrakenIoc.Editor/obj/
KrakenIoc/KrakenIoc.Editor/bin/
KrakenIoc/.idea/
KrakenIoc/.vs/
KrakenIoc/KrakenIoc/.vs/
